[defaults]

log_path = ./logs

# 
collections_paths = /root:~/.ansible/collections:/usr/share/ansible/collections

# this is necessary when running this from docker and should point to the bin for your python executable
# if this is not specified you may see errors where ansible is not able to find the firepower kickstart
# libary even though the library is already installed on your system
interpreter_python = /usr/local/bin/python