{
  "items": [
    {
      "title": "Overview",
      "items": [
        {
          "title": "Introduction to Firepower Threat Defense REST API",
          "content": "introduction/intro.md"
        },
        {
          "title": "Authenticating Your REST API Client Using OAuth",
          "content": "introduction/auth.md"
        },
        {
          "title": "Deploying Configuration Changes",
          "content": "introduction/deploy_config.md"
        }
      ]
    },
    {% if error_codes %}
    {
      "title": "Error Codes",
      "content": "error_codes.md"
    },
    {% endif %}
    {
      "title": "Resources",
      "type": "config",
      "content": "resources/config.json"
    },
    {
      "title": "Models",
      "type": "config",
      "content": "models/config.json"
    }
  ]
}