# Introduction to Ansible modules for FTD {{ ftd_version }}

A collection of Ansible modules that automate provisioning, configuration management and execution of operational tasks on
Cisco Firepower Threat Defense (FTD) devices. Currently, four Ansible modules are available:

* [`ftd_configuration`](modules/ftd_configuration.md) - manages device configuration via REST API. The module configures virtual and physical devices by sending HTTPS calls formatted according to the REST API specification;
* [`ftd_file_download`](modules/ftd_file_download.md) - downloads files from FTD devices via HTTPS protocol;
* [`ftd_file_upload`](modules/ftd_file_upload.md) - uploads files to FTD devices via HTTPS protocol;
* [`ftd_install`](modules/ftd_install.md) - installs FTD images on hardware devices. The module performs a complete reimage of the Firepower system by downloading the new software image and installing it.

{% include 'includes/api_compatibility_disclaimer.j2' %}

### How to use Ansible modules

A simple example of creating a network with the [`ftd_configuration`](modules/ftd_configuration.md) module looks like this:

{% include_playbook_tasks sample_dir + '/ftd_configuration/network_object.yml', ["Create an FQDN network for Cisco FTD"] %}

Check out the [Examples](examples.md) section for more playbook samples.
