ANSIBLE_METADATA = {'metadata_version': '1.1',
                    'status': ['preview'],
                    'supported_by': 'network'}

DOCUMENTATION = """
---
module: ftd_{{ model_name | camel_to_snake }}
short_description: Manages {{ model_name }} objects on Cisco FTD devices
version_added: "2.7"
author: "Cisco Systems, Inc."
options:
  operation:
    description:
      - Specified the name of the operation to execute in the task.
    required: true
  register_as:
    description:
      - Specifies Ansible fact name that is used to register received response from the FTD device.
{% for param in params %}
{% if param.description %}
  {{ param.name }}
    description:
      - {{ param.description }}
{% endif %}
{% endfor %}

extends_documentation_fragment: ftd
"""

{% include 'docs/examples.j2' %}


RETURN = """
response:
  description: HTTP response returned from the API call.
  returned: success
  type: dict
error_code:
  description: HTTP error code returned from the server.
  returned: error
  type: int
msg:
  description: Error message returned from the server.
  returned: error
  type: dict
"""
