# {{ model.name }}

{% if model.description %}
## Description
{{ model.description | escape_md_symbols }}
{% endif %}

{% if model.operations %}
## Supported Operations
{% for operation in model.operations %}
* [{{ operation['name'] }}](../operations/{{ operation['name'] | camel_to_snake }}.md)
{% endfor %}
{% endif %}
{% with model_properties = model.properties %}
{% include 'includes/model_params.j2' %}
{% endwith %}
