# {{ model.name }}

{% if model.description %}
## Description
{{ model.description | escape_md_symbols }}
{% endif %}

{% if model.operations %}
## Supported Operations
{% for operation in model.operations %}
{% if doctype.name == 'ftd_api' %}
* [{{ operation['name'] }}](../resources/{{ operation['tag'] }}/{{ operation['name'] | camel_to_snake }}.md)
{% else %}
* [{{ operation['name'] }}](../operations/{{ operation['name'] | camel_to_snake }}.md)
{% endif %}
{% endfor %}
{% endif %}
{% with model_properties = model.properties %}
{% include 'includes/model_params.j2' %}
{% endwith %}
