:ref:`model_index` » :ref:`{{ model.name | camel_to_snake }}`

.. _{{ model.name | camel_to_snake }}:

{{ model.name }}
{% for n in range(model.name| length) %}={% endfor %}

{% if model.description %}
Description
"""""""""""
{{ model.description | e }}
{% endif %}

{% if model.operations %}
Supported operations
""""""""""""""""""""
{% for operation in model.operations %}
- :ref:`{{ operation | camel_to_snake }}`
{% endfor %}
{% endif %}

{% if model.properties %}
Model Properties
""""""""""""""""
.. csv-table::
    :header: "Property", "Required", "Type", "Description"
    :widths: 10, 10, 10, 70

{% for property_name, property_spec in model.properties.items() %}
    "{{ property_name }}", "{{ property_spec['required'] }}", "{{ property_spec['type'] }}", "{{ property_spec['description'] | br_to_newline | e }}"
{% endfor %}
{% endif %}
