:ref:`model_index` » :ref:`{{ model.name | camel_to_snake }}`

.. _{{ model.name | camel_to_snake }}:

{{ model.name }}
{% for n in range(model.name| length) %}={% endfor %}

{% if model.description %}
Description
"""""""""""
{{ model.description }}
{% endif %}

{% if model.operations %}
Supported operations
""""""""""""""""""""
{% for operation in model.operations %}
- :ref:`{{ operation | camel_to_snake }}`
{% endfor %}
{% endif %}
