:ref:`model_index` » :ref:`{{ model_name | camel_to_snake }}`

.. _{{ model_name | camel_to_snake }}:

{{ model_name }}
{% for n in range(model_name| length) %}={% endfor %}

{% if model_description %}
Description
"""""""""""
{{ model_description }}
{% endif %}

{% if model_description %}
Supported operations
""""""""""""""""""""
{% for operation in model_operations %}
- {{ operation }}
{% endfor %}
{% endif %}
