:ref:`operation_index` » :ref:`{{ operation.name | camel_to_snake }}`

.. _{{ operation.name | camel_to_snake }}:

{{ operation.name }}
{% for n in range(operation.name| length) %}={% endfor %}

{% if operation.description %}
Description
"""""""""""
{{ operation.description | e }}
{% endif %}

{% if operation.path_params %}
Path Parameters
"""""""""""""""
.. csv-table::
    :header: "Parameter", "Required", "Type", "Description"
    :widths: 20, 10, 10, 50

{% for param_name, param_spec in operation.path_params.items() %}
    "{{ param_name }}", "{{ param_spec['required'] }}", "{{ param_spec['type'] }}", "{{ param_spec['description'] | e }}"
{% endfor %}
{% endif %}

{% if operation.query_params %}
Query Parameters
""""""""""""""""
.. csv-table::
    :header: "Parameter", "Required", "Type", "Description"
    :widths: 20, 10, 10, 50

{% for param_name, param_spec in operation.query_params.items() %}
    "{{ param_name }}", "{{ param_spec['required'] }}", "{{ param_spec['type'] }}", "{{ param_spec['description'] | e }}"
{% endfor %}
{% endif %}