{
  "items": [
{% for operation in operations | sort %}
    {
      "title": "{{ operation | split_operation_names }}",
      "content": "{{ operation | camel_to_snake }}.md"
    }{{ "," if not loop.last }}
{% endfor %}
  ]
}
