{% if name %}
# {{ name }}
{% endif %}
{% if description %}

## Description
{{ description | escape_md_symbols }}
{% endif %}
{% if operations %}

## Supported operations
{% for operation in operations | sort %}
* [{{ operation | split_operation_names }}]({{ operation | camel_to_snake }}.md)
{% endfor %}
{% endif %}
{% if properties %}

## Model Properties
| Property | Required | Type | Description |
| -------- | -------- | ---- | ----------- |
{% for property_name, property_spec in properties.items() %}
| {{ property_name }} | {{ property_spec.required }} | {{ property_spec.type }} <td colspan=3>  {{ property_spec.description | escape_md_symbols }} |
{% endfor %}
{% endif %}
