{% if query_params %}

## Query Parameters
| Parameter | Required | Type | Description |
| --------- | -------- | ---- | ----------- |
{% for param_name, param_spec in query_params.items() %}
| {{ param_name }} | {{ param_spec.required }} | {{ param_spec.type }} <td colspan=3> {{ param_spec.description | escape_md_symbols }} |
{% endfor %}
{% endif %}